<div id="page">
  <div id="parallax" class="parallax" #header>
    <div
      class="back-stars parallax-layer"
      data-speed="-70"
      data-depth="0.5"
    ></div>
    <div
      class="front-stars parallax-layer s1"
      data-speed="-60"
      data-depth="0.6"
    ></div>
    <div
      class="front-stars parallax-layer s2"
      data-speed="-60"
      data-depth="0.6"
    ></div>
    <div
      class="front-stars parallax-layer s3"
      data-speed="-60"
      data-depth="0.6"
    ></div>
    <div
      class="back-clouds parallax-layer"
      data-speed="-50"
      data-depth="0.7"
    ></div>
    <div class="planets parallax-layer" data-speed="-40" data-depth="0.8"></div>
    <div
      class="front-clouds parallax-layer"
      data-speed="-30"
      data-depth="1"
    ></div>
    <div class="front parallax-layer" data-speed="0" data-depth="0"></div>
  </div>

  <div class="content">
    <div class="wrapper">
      <h1>Hi! This is Gonzalo 👋 And this is my space.</h1>
      <p>
        I'm not a NASA fanboy, I mean, I don't like the outer space more than
        anyone else, but I like pretty tiny things and that's what I've tried to
        make here.
      </p>
      <p>
        I've been romaing around IT for a decent time right now, almost 15 years
        (yup, half of my life), but just 5 profesionally althought that's not
        too important cause actually, I don't do what I most love at work,
        create pretty...
      </p>
      <h2><i>What am I doing right now?</i></h2>
      <p>
        I'm working at <i>Zara.com</i> at <i>Customer care</i> as Tech lead,
        role that I took recently so I'm learning a lot of new stuff, another
        thing in my "like to do list".
      </p>
      <p>
        You shouldn't think I'm everyday doing super complex technical stuff. I
        make some technical analysis, take technical decision (always involving
        all the team), make sure we follow our code standards, support
        <i>Product Owner</i> with my business knowledge and team organization
        and a never ending <i>etc</i>. Also I try to keep coding everytime I can
        and as you can imagine I take every chance I have of making designs and
        add cute details.
      </p>
      <p>
        Of course I'm working on some side projects in my spare time. Between
        talks and walks, I spent a few hours a week developing, trying and
        learning.
      </p>
      <h2><i>What would I love to do?</i></h2>
      <p>
        I can try to say a few things, but please, then don't ask me why I'm not
        doing it 😳
      </p>
      <p>
        Anything related with creating new things, apps, web or mobile, even
        standalone. Actually I find more enjoyable the front-end and design
        side, but to be honest, I've no profesional experience and I'm still not
        great at it, so if I could learn more about web design, UI/UX and create
        that kind of content would be fantastic.
      </p>
      <p>
        I also like to create stuff, leather, wood, painting, I've made some
        small projects with all of them, you can check them on instagram, but
        definitely my favorite is woodwork. I have seen so many videos that
        sometimes I belive I have some kind of knowledge, but no, when you
        really learn is when you try to make something real and have to face the
        problems by yourself. Time to time I hope the world was more like in the
        past, to learn this kind of things from a master, that would be great.
      </p>
      <h2><i>What can I do?</i></h2>
      <home-skills></home-skills>
    </div>
  </div>
</div>
