<div class="content">
  <div class="wrapper">
    <h1>Gonzalo's Portfolio</h1>
    <p>Disclaimer: WIP :)</p>
    <ul>
      <li>
        <h2>Fun & Pro</h2>
        <p>An App to have fun while learning english. Learn more on <a href="http://funandpro.com">funandpro.com</a></p>
      </li>
      <li>
        <h2>Portfolio (WIP)</h2>
        <p>This web! It may look simple but it were made using micro frontends.</p>
        <p>You can see the code on <a href="http://funandpro.com">github</a>.</p>
      </li>
      <li>
        <h2>SimpleLock</h2>
        <p>
          An (outdated) Android library that simplifies the use of pin codes on your app. It helps you to create a pin
          screen and store the saved pin hashed. You can have as many different pins for your app as you want, you can
          change the style and configure callbacks for pin creation or pin entering.
        </p>
        <p>See more info on <a href="https://github.com/zalito12/SimpleLock">github</a>.</p>
      </li>
      <li>
        <h2>Family Care (WIP)</h2>
        <p>
          It's an Android App that will track your family members state. It is focused on help you with the care of
          older people, your parents or grandparents as well as people with neurodegenerative diseases or cognitive
          diseases. The main purpose is to make it easier for you to detect if something goes wrong and solve that
          problem.
        </p>
        <p>See the project on <a href="https://github.com/Fic-Spinoff/family-care">github</a>.</p>
      </li>
      <li>
        <h2>Charadas</h2>
        <p>
          A very simple approach to <i>Charadas</i> game, where you must guess a word while your friends help you with
          clues. It was created during COVID-19 reclusion, to play using zoom or other meeting apps. You can play
          <a href="https://charadas-game.web.app">here</a>.
        </p>
      </li>
    </ul>
  </div>
</div>
